
.icon-tall-pencil:before { content: '\e804'; } /* '' */
.icon-brush:before { content: '\e800'; } /* '' */
.icon-pencil-alt:before { content: '\e805'; } /* '' */
.icon-pen:before { content: '\e802'; } /* '' */
.icon-sharp-pencil:before { content: '\e801'; } /* '' */
.icon-vector-pencil:before { content: '\e806'; } /* '' */
.icon-fat-pencil:before { content: '\e803'; } /* '' */