p {
    margin-top: -0.5em; /* cause we use white-space: pre-wrap below for boks_book, for poetry */
    margin-bottom: -0.5em;
}

button {
    background-color: #ddd;
    color: #555;
    border: none;
    font-family: georgia;
}

button:hover {
    background-color: #0f0;
    color: #fff;
}

.boks_reader {
    padding: 10px 0 10px 100px;
}

.boks_book {
    padding: 10px;
    white-space: pre-wrap;
    font-family: times, georgia, serif;
}

.boks_book p {
    padding-left: 10px;
    padding-right: 10px;
}

.boks_book p:hover {
    background-color: #ddd;
}

.boks_reader_menu {
    background-color: #fff;
    width: 40px;
    position: absolute;
    left: 85px;
}

.boks_reader_menu:hover {
    background-color: #0f0;
}

.boks_reader_menu button {
    width: 35px;
    height: 35px;
    font-size: 1em;
}

.boks_reader_content {
    position: relative;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    background-color: #ccc;
}

.boks_reader_left {
    clear: both;
    float: left;
    width: 60%;
}

.boks_reader_right {
    float: left;
    width: 40%;
}

.boks_quote_box {
    box-shadow: 0 0 10px 5px #aaa;
}

.boks_quote_box:hover {
    box-shadow: 0 0 20px 5px #999;
}

.boks_quote {
    background-color: #ddd;
    white-space: pre-line;
    padding: 2px;
}

.boks_quote:hover {
    background-color: #eee;
}

.boks_quote_menu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding-left: 5px;
    left: -35px;
}

.boks_quote_menu:hover {
    background-color: #0f0;
}

.boks_quote_reply, .boks_quote_up, .boks_quote_down {
    font-size: 1em;
    width: 35px;
    height: 35px;
}

.boks_quote_text {
    padding: 10px;
}

.boks_quote:hover > .boks_quote_comments {
    border-left: 5px solid #0f0;
}

.boks_quote_comments {
    border-left: 5px solid #bbb;
    margin-left: 10px;
}

.boks_quote_comment {
    margin: 0 0 0 1px;
    padding: 10px;
    position: relative;
}

.boks_quote_comment:hover {
    background-color: #fff;
}

.boks_comment_menu {
    display: none;
    right: 0;
    bottom: 0;
    margin: 2px;
    position: absolute;
    width: 40px;
    background-color: #fff;
}

.boks_comment_menu:hover {
    background-color: #0f0;
}

.boks_comment_menu button {
    width: 35px;
    height: 35px;
    font-size: 1em;
}

.boks_quote_reply_box {
    display: none;
    width: 100%;
    position: relative;
}

.boks_quote_reply_menu {
    position: absolute;
    height: 40px;
    bottom: 0;
    right: 0;
    background-color: #0f0;
}

.boks_quote_reply_menu:hover {
    background-color: #fff;
}

.boks_quote_reply_menu_post {
    width: 35px;
    height: 35px;
    font-size: 1em;
    font-weight: bolder;
    color: #0f0;
    background-color: #fff;
}

.boks_quote_reply_menu_post:focus {
    background-color: #0f0;
    color: #000;
}

.boks_quote_reply_textarea_box {
    margin-left: 10px;
}

.boks_quote_reply_textarea {
    font-family: georgia;
    font-size: 1em;
    width: 100%;
    height: 6em;
    border: none;
    border-left: 5px solid #0f0;
    padding-left: 10px;
    padding-right: 35px;
    resize: none;
    margin-bottom: 3px;
    background-color: #ddd;
}

.boks_quote_reply_textarea:focus {
    background-color: #eee;
}