i {
    font-size: 1.2em;
    margin: 2px;
}

p {
    margin-top: -0.5em; /* cause we use white-space: pre-wrap below for boks_book, for poetry */
    margin-bottom: -0.5em;
}

button {
    background-color: #eee;
    color: #555;
    border: none;
    font-family: georgia;
}

button:hover {
    color: #0f0;
}

.boks_reader {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.boks_reader_menu {
    background-color: #eee;
    border-right: 5px solid #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.boks_reader_menu:hover {
    border-right: 5px solid #0f0;
}

.boks_reader_menu button {
    float: left;
    clear: both;
    font-size: 1em;
    padding: 5px;
}

.boks_reader_menu .boks_close {
    position: absolute;
    bottom: 0;
    left: 0;
}

.boks_reader_content {
    display: table-row;
    width: 100%;
}

.boks_reader_left {
    display: table-cell;
    width: 60%;
    background-color: #ddd;
}

.boks_reader_right {
    display: table-cell;
    width: 40%;
}

.boks_book {
    padding: 20px 0 0 60px;
    white-space: pre-wrap;
    font-family: times, georgia, serif;
}

.boks_book p {
    padding-left: 10px;
}

.boks_book p:hover {
    background-color: #eee;
}

.boks_quotes {

}

.boks_quote_box {
    position: absolute;
    box-shadow: 0 0 10px 5px #aaa;
    background-color: #eee;
}

.boks_quote_box:hover {
    box-shadow: 0 0 20px 5px #999;
    border-left: 5px solid #0f0 !important;
}

.boks_quote {
    background-color: #eee;
    white-space: pre-line;
    position: relative;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.boks_quote_text:hover {
    background-color: #fff;
}

.boks_quote_text {
    padding: 15px 15px 15px 15px;
}

.boks_img {
    width: 100%;
    height: auto;
}

.boks_quote_menu {
    clear: both;
    float: right;
    margin: 0 10px 0 10px;
}

.boks_quote_menu button {
    font-size: 1em;
    font-weight: lighter;
    background: none;
    font-family: helvetica, arial, sans;
    margin: 10px 0 10px 0;
}

.boks_quote_comments {
    margin-left: 15px;
}

.boks_quote_comment {
    margin: 0 0 0 1px;
    position: relative;
    border-left: 5px solid #bbb;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.boks_quote_comment:hover {
    border-left: 5px solid #0f0;
}

.boks_quote_comment_text:hover {
    background-color: #fff;
}

.boks_quote_comment_text {
    padding: 15px 15px 15px 15px;
}

.boks_comment_menu {
    clear: both;
    float: right;
    margin: 0 10px 0 10px;
}

.boks_comment_menu button {
    font-size: 1em;
    font-weight: lighter;
    background: none;
    font-family: helvetica, arial, sans;
    margin: 10px 0 10px 0;
}

.boks_quote_reply_box {
    display: none;
    width: 100%;
    position: relative;
}

.boks_quote_reply_menu {
    float: right;
    padding: 5px;
}

.boks_quote_reply_menu_post {
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #666;
}

.boks_quote_reply_textarea_box {
    margin-left: 15px;
}

.boks_quote_reply_textarea {
    font-family: helvetica, arial, sans;
    font-size: 1em;
    width: 100%;
    height: 6em;
    border: none;
    border-left: 5px solid #0f0;
    padding-left: 15px;
    resize: none;
    margin-bottom: 3px;
    background-color: #eee;
}

.boks_quote_reply_textarea:focus {
    background-color: #fff;
}

.boks_comment_comments {
    margin-left: 15px;
}

.boks_comment_reply_box {
    display: none;
    width: 100%;
    position: relative;
}

.boks_comment_reply_menu {
    float: right;
    padding: 5px;
}

.boks_comment_reply_menu_post {
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #666;
}

.boks_comment_reply_textarea_box {
    margin-left: 15px;
}

.boks_comment_reply_textarea {
    font-family: helvetica, arial, sans;
    font-size: 1em;
    width: 100%;
    height: 6em;
    border: none;
    border-left: 5px solid #0f0;
    padding-left: 15px;
    resize: none;
    margin-bottom: 3px;
    background-color: #eee;
}

.boks_comment_reply_textarea:focus {
    background-color: #fff;
}

.boks_quote_new_quote_box {
    display: none;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #bbb;
}

.boks_quote_new_quote_textarea_box {
    margin-left: 15px;
}

.boks_quote_new_quote_textarea {
    font-family: helvetica, arial, sans;
    font-size: 1em;
    width: 100%;
    height: 6em;
    border: none;
    padding-left: 15px;
    resize: none;
    margin-bottom: 3px;
    background-color: #eee;
}

.boks_quote_new_quote_textarea:focus {
    background-color: #fff;
}

.boks_quote_new_quote_menu {
    float: right;
    padding: 5px;
}

.boks_quote_new_quote_post {
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #666;
}

.boks_quote_new_quote_post:hover {
    border: 1px solid #0f0;
}

.clear_both {
    clear: both;
}

.boks_green_underline {
    border-bottom: 5px solid #0f0;
}

.boks_red_underline {
    border-bottom: 5px solid #f00;
}

button.boks_comment_menu_thumbs_up:hover {
    color: #f00;
}

button.boks_quote_thumbs_up:hover {
    color: #f00;
}

button.boks_quote_flag:hover {
    color: #f0f;
}

button.boks_comment_menu_flag:hover {
    color: #f0f;
}

.boks_comment_created, .boks_quote_created {
    float: right;
    padding: 5px 20px 0 0;
    color: #555;
}

.boks_quote_username, .boks_comment_username {
    float: left;
    padding: 5px 30px 0 30px;
    font-size: 1em;
    font-weight: bolder;
    color: #555;
}

.boks_more_quotes_button {
    width: 100%;
    font-size: 2em;
    padding: 20px;
}