body {
    background-color: #eee;
    font-family: helvetica, arial, sans;
}

hr {
    height: 1px;
    background-color: #000;
    border: none;
}

a {
    text-decoration: none;
    color: #999;
}

.a_hover {
    color: #70ACFF;
}

i {
    font-size: 1.2em;
    margin: 2px;
}

input {
    border: none;
}

button {
    background-color: #eee;
    color: #555;
    border: none;
    font-family: helvetica, arial, sans;
}

button:hover {
    color: #0f0;
}

.pointer {
    cursor: pointer;
}

.clear_both {
    clear: both;
}

#banner {
    display: table;
    width: 100%;
}

#banner button {
    font-size: 1em;
    padding: 0;
}

#banner input {
    font-size: 1em;
    padding-left: 5px;
}

#banner_left {
    display: table-cell;
}

#banner_left #search_bar {
    width: 200px;
}

#banner_right {
    display: table-cell;
    text-align: right;
}

#banner_right input {
    width: 150px;
}

#login_box {

}

#logout_box {
    display: none;
}

button#logo {
    font-size: 1.5em;
    padding: 5px;
    color: #333;
    font-weight: bolder;
}

button#logo:hover {
    color: #0f0;
}

#bookses_more_menu_box {
    display: none;
    padding: 20px 0 10px 20px;
    margin-left: 15px;
    border-left: 5px solid #ccc;
}

#bookses_more_menu_box:hover {
    border-left: 5px solid #70ACFF;
}

.menu_item {
    display: table-row;
}

.menu_item > * {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px 0 10px;
}

.menu_item_head {
    text-align: right;
    font-weight: bolder;
}

.menu_item_link {
    font-size: 2em;
    text-align: center;
}

.menu_item_text {
    visibility: hidden;
    width: 100%;
}

#tagline_box {
    text-align: center;
    padding: 20px 0 20px 0;
}

#tagline {
    font-size: 12pt;
    font-weight: bolder;
    color: #666;
    padding: 20px;
}

#tagline:hover {
    color: #6FF57A;
}

#info_box {
    display: none;
    padding: 20px;
    font-size: 1em;
    text-align: justify;
    text-justify: inter-word;
}

#info_box_content {
    display: table;
    width: 100%;
}

#info_box_left {
    display: table-cell;
    font-size: 1em;
    vertical-align: top;
    text-align: center;
    font-weight: bolder;
    width: 40%;
}

#info_box_right {
    display: table-cell;
    width: 60%;
    padding: 0 40px 0 40px;
    border-left: 10px solid #ccc;
}

#info_box_right:hover {
    border-left: 10px solid #70ACFF;
}

#info_box_right b {
    font-size: 1.3em;
}

#info_box_right a {
    font-size: 1.2em;
}

#upload_page {
    display: none;
    width: 100%;
    border-top: 1px solid #bbb;
}

#upload_progress_box {
    height: 5px;
    width: 100%;
}

#upload_progress {
    width: 0;
    height: 100%;
    background-color: #77CFFF;
}

#upload_page_left {
    display: table-cell;
    width: 60%;
    align: center;
}

#book_preview {
    white-space: pre-wrap;
    overflow: hidden;
    width: 100%;
    padding: 20px;
}

#upload_page_right {
    display: table-cell;
    width: 40%;
    padding: 20px;
}

#upload_page input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
}

#upload_page textarea {
    font-family: helvetica, arial, sans;
    width: 100%;
    height: 6em;
    border: none;
    padding: 5px;
    margin: 5px;
    resize: none;
}

#upload_page label#text_files_only {
    float: right;
    color: #333;
    font-size: 0.8em;
}

#upload_page button {
    width: 100px;
    height: 50px;
    float: right;
}

#post_upload_button {
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 1.5em;
}

#post_upload_button:hover {
    color: #0f0;
    border: 1px solid #0f0;
}

#cancel_upload_button {
    font-size: 1em;
}

#books, #results {
    display: table;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.book {
    display: table-row;
}

.book_left_box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    min-width: 100px;
}

.book_votes, .book_num_comments {
    font-size: 2em;
    font-weight: bolder;
    color: #999;
}

.book_main_box {
    display: table-cell;
    width: 100%;
    padding: 20px;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.book_title {
    font-size: 2em;
}

.book_title:hover {
    color: #0f0;
}

.book_description {
    font-size: 1em;
    padding: 10px;
}

.book_created {
    color: #555;
    padding: 10px;
}

#more_books_button, #more_results_button {
    font-size: 3em;
    padding: 30px;
    width: 100%;
}

#results_box {
    display: none;
}