#login_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    overflow-y: scroll;
    text-align: center;
}

#logout_box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    overflow-y: scroll;
    text-align: center;
}

#register_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    overflow-y: scroll;
    text-align: center;
}

#register_box input,
#login_box input {
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    width: 300px;
}

#register_box button,
#login_box button,
#logout_box button {
    width: 300px;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
}

#register {
    background-color: #5EB4FF;
    color: #fff;
    border: none !important;
    height: 3em;
}

#register:hover {
    background-color: #38A2FF;
}

#login {
    background-color: #3BFF48;
    color: #fff;
    border: none !important;
    height: 3em;
}

#login:hover {
    background-color: #0f0;
}

#signup {
    border: none !important;
    height: 2.5em;
}

#logout {
    background-color: #FF85FD;
    color: #fff;
    border: none !important;
    height: 3em;
}

#logout:hover {
    background-color: #FF54FC;
}

.popup_login_cancel {
    font-size: 2em !important;
}