body {
    background-color: #eee;
    font-family: helvetica, arial, sans;
}

hr {
    height: 1px;
    background-color: #000;
    border: none;
}

a {
    text-decoration: none;
    color: #70ACFF;
}

i {
    font-size: 1.2em;
    margin: 2px;
}

input {
    border: none;
}

button {
    background-color: #eee;
    color: #555;
    border: none;
    font-family: helvetica, arial, sans;
}

button:hover {
    color: #70ACFF;
}

.link {
    color: #70ACFF;
}

.link:hover {
    color: #2E86FF;
}

.clear_both {
    clear: both;
}

#click_colors {
    background-color: #000;
    color: #fff;
    padding: 20px 10px 20px 0;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 10px;
    margin-right: -10px;
    z-index: -1;
    font-size: 12pt;
    text-align: center;
}

#banner {
    display: table;
    width: 100%;
}

#banner button {
    font-size: 1em;
    padding: 0;
}

#banner input {
    font-size: 1em;
    padding-left: 5px;
}

#banner_left {
    display: table-cell;
}

#banner_left #search_bar {
    width: 200px;
}

#banner_right {
    display: table-cell;
    text-align: right;
}

#logins, #upload_button {
    font-weight: bolder;
}

#logo {
    font-size: 1.5em;
    padding: 5px;
    color: #333;
    font-weight: bolder;
}

#logo:hover {
    color: #70ACFF;
}

#tagline_box {
    text-align: center;
    padding: 20px 0 20px 0;
}

#tagline {
    font-size: 12pt;
    font-weight: bolder;
    color: #666;
}

#tagline:hover {
    color: #70ACFF;
}

#upload_progress_box {
    height: 5px;
    width: 100%;
}

#upload_progress {
    width: 0;
    height: 100%;
    background-color: #77CFFF;
}

#books, #results {
    display: table;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
}

.book {
    display: table-row;
}

.book_left_box {
    display: table-cell;
    text-align: center;
    min-width: 10%;
    vertical-align: top;
}

.book_pop,
.book_votes,
.book_num_comments {
    font-size: 3em;
    font-weight: lighter;
    color: #999;
    margin: 20px 20px 0 20px;
    white-space: nowrap;
}

.book_pop > i,
.book_votes > i,
.book_num_comments > i {
    font-size: 0.8em;
}

.book_pop > span,
.book_votes > span,
.book_num_comments > span {
    font-size: 0.5em;
    vertical-align: top;
}

.book_main_box {
    display: table-cell;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.book_title {
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
    margin: 20px 0 0 20px;
}

.book_description {
    font-size: 1em;
    margin: 0 30px 10px 30px;
}

.book_imgs {
    display: table;
    margin: 0 0 5px 0;
    width: 100%;
}

.book_img_box {
    display: table-cell;
    width: 10%;
    max-height: 200px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 0 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img.book_img {
    width: 100%;
}

.first_letter {
    float: left;
    font-size: 4em;
    font-family: serif, times, georgia;
    height: 0.8em;
    line-height: 1em;
    margin: -5px 10px 0 -10px;
}

.book_created {
    color: #888;
    margin: 10px 0 10px 30px;
}

#more_books_button, #more_results_button {
    font-size: 3em;
    padding: 30px;
    width: 100%;
}

#results_box {
    display: none;
}

#popup {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.popup_cancel {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    border: none !important;
    opacity: 0;
}
