body {

}

p {
    margin: -0.5em 0 -0.5em 0;
    padding-left: 10px;
}

.boks_hide {
    display: none;
}

.boks_green_underline {
    border-bottom: 5px solid #0f0;
}

.boks_red_underline {
    border-bottom: 5px solid #f00;
}

.boks_book_info {
    background-color: #eee;
}

.boks_book_title_box {
    text-align: center;
    font-weight: bolder;
}

.boks_book_created {
    text-align: center;
    margin: 1em;
    color: #666;
}

.boks_book_description {
    padding: 0 10% 20px 10%;
    white-space: pre-wrap;
}

.boks_book_description img {
    display: block;
    width: 100%;
}

.boks_content {
    display: table;
    width: 100%;
}

.boks_content_left {
    display: table-cell;
    width: 70%;
}

.boks_content_right {
    display: table-cell;
    width: 30%;
}

.boks_text {
    width: 100%;
    white-space: pre-wrap;
    background-color: #ddd;
}

.boks_content_right > .boks_comments_box {
    background-color: #eee;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 70%;
    right: 0;
    overflow-y: scroll;
    font-size: 0.8em;
}

.boks_comment {
    border-left: 5px solid #bbb;
    border-top: 1px solid #bbb;
}

.boks_comment_img_box {
    padding: 5px;
}

.boks_comment_img {
    width: 100%;
}

.boks_comment_text {
    padding: 10px;
    white-space: pre-wrap;
}

.boks_comment_menu {
    clear: both;
    float: right;
    margin: 0 5px 0 5px;
}

.boks_comment_menu button {
    font-size: 1.2em;
    font-weight: lighter;
    background: none;
    font-family: helvetica, arial, sans;
    margin: 10px 0 10px 0;
    padding: 5px 5px 0 5px;
}

.boks_comment_created {
    clear: both;
    float: right;
    padding: 0 10px 0 0;
    color: #555;
}

.boks_comment_username {
    float: right;
    padding: 0 10px 0 0;
    font-size: 1em;
    font-weight: bolder;
    color: #555;
}

.boks_more_comments_button {
    width: 100%;
    font-size: 2em;
    padding: 20px;
    color: #5BFC60;
}

.boks_comments_home_button {
    width: 100%;
    font-size: 2em;
    padding: 20px;
    color: #FF3D3D;
}
