body {
    background-color: #eee;
    font-family: helvetica, arial, sans;
}

hr {
    height: 1px;
}

a {
    text-decoration: none;
    color: #70ACFF;
}

i {
    font-size: 1.2em;
    margin: 2px;
}

input {
    border: none;
}

button {
    background-color: #eee;
    color: #555;
    border: none;
    font-family: helvetica, arial, sans;
}

button:hover {
    color: #70ACFF;
}

.link {
    color: #70ACFF;
}

.clear_both {
    clear: both;
}

#banner {
    display: table;
    width: 70%;
}

#banner button {
    font-size: 1em;
    padding: 0;
}

#banner input {
    font-size: 1em;
    padding-left: 5px;
}

#banner_left {
    display: table-cell;
}

#banner_left #search_bar {
    width: 200px;
}

#banner_right {
    display: table-cell;
    text-align: right;
}

#logins {
    font-weight: bolder;
}

#logo {
    font-size: 1.5em;
    padding: 5px;
    color: #333;
    font-weight: bolder;
}

#logo:hover {
    color: #70ACFF;
}

#tagline_box {
    text-align: center;
    padding: 20px 0 20px 0;
    width: 70%;
}

#tagline {
    font-size: 12pt;
    font-weight: bolder;
    color: #666;
    padding: 20px;
}

#error {
    display: none;
    padding: 10%;
    font-size: 1.5em;
}

#popup {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}