div.popup_upload_cancel {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    border: none !important;
    opacity: 0;
}

#upload_box {
    background-color: #ddd;
    width: 90%;
    height: 100%;
    margin-left: 10%;
    padding: 10px;
    display: table;
}

#upload_box_left {
    display: table-cell;
    width: 60%;
}

#upload_box input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
}

#upload_box textarea {
    font-family: helvetica, arial, sans;
    width: 100%;
    font-size: 1.2em;
    height: 7em;
    border: none;
    padding: 5px;
    margin: 5px;
    resize: none;
}

#upload_box label#text_files_only {
    float: right;
    color: #333;
    font-size: 0.8em;
}

button.popup_upload_cancel {
    font-size: 1em;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 0 5px 0 0;
    width: 100px;
    height: 3em;
    float: right;
}

#post_upload_button {
    background-color: #70ACFF;
    color: #fff;
    font-size: 1em;
    border-radius: 3px;
    width: 150px;
    height: 3em;
    float: right;
}

#upload_box_right {
    display: table-cell;
    width: 40%;
    vertical-align: top;
}

#book_preview {
    white-space: pre-wrap;
    overflow: hidden;
    width: 100%;
    padding: 5px 20px 0 20px;
}
